<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CirStatisticalFigure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12E6A9F91CC9CD9200DB38AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12E6AA121CC9CD9200DB38AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12E6AA1D1CC9CD9200DB38AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
